.show-popup{
  background-color: #519D42;
    width: 50%;
    border: none;
    height: 38px;
    border-radius: 6px;
    color: white;
    margin: 2rem 0rem;
}

.modal-header{
    border-bottom: none !important;
      font-family: 'Source Sans Pro';
}

.submit-btn{
    background-color: #519D42;
    width: 82% !important;
    border: none;
    height: 38px;
    border-radius: 6px;
    color: white;
   margin: 2rem 0rem 1rem;
}
.email,.mob-no,.pass-sign,.pass-sign-confirm{
    /* margin: rem 2rem 1rem; */
    height: 34px;
    width: 82% !important;
    padding: 14px;
    font-size: 14px;
      font-family: 'Source Sans Pro';

}
.f-name,.l-name{
    margin: 0rem 0.27rem 1.5rem;
    height: 34px;
   width: 39.5%;
   color: #4B5563;
   font-family: 'Source Sans Pro';
    padding: 14px;
    font-size: 14px;
}

input[type=text],input[type=password],input[type=email],input[type=number],input[type=tel],[textarea]:hover {
    border: 1px solid #519D42;
}
.frm-container{
    display: flex;
    flex-direction: column;
}
.login-link>a{
    color:  #519D42 !important;
    background-color: transparent !important;
    text-decoration: none !important ;
  }
  .g-btn{
  margin: 0rem 7rem !important;
  width: 50% !important;
  }
  .fb-login-button{
  border-radius: 3px;
  color: #1D4ED8 !important;
  background-color: none !important;  
  
  }
  .fb-button-main- {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    border-radius: 3px  !important;
    background-color: white !important; 
    color: #1D4ED8 !important;
    border: 1px solid !important;
    font-weight: bold;
  }